<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811658309184-fqplncc6ka77jsm79soufd96nvkst64l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811658309184-fqplncc6ka77jsm79soufd96nvkst64l</string>
	<key>API_KEY</key>
	<string>AIzaSyDZQgELBGMJgI73_QMAXZUHRv5TEx3DvE4</string>
	<key>GCM_SENDER_ID</key>
	<string>811658309184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rickyjsparks.Rubae</string>
	<key>PROJECT_ID</key>
	<string>rubae-21024</string>
	<key>STORAGE_BUCKET</key>
	<string>rubae-21024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:811658309184:ios:35a0c1c35dacdb74e639a5</string>
</dict>
</plist>
